* { 
  margin: 0; 
  padding: 0; 
}

html, body {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#clock {
	text-align: center;
	font-family: 'Pangolin', cursive;
	font-weight: bold;
	font-size: 5rem;
}

#alarm {
	height: 50%;
}

#sheep {
	height: 30%;
}